*{
  box-sizing: border-box;
}
p, h1, h2, h3{
  margin: 0;
  padding: 0;
}
p{
  color: black;
}
body{
  margin: 0 auto;
  font-size: 18px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}

.header{
  background: white;
}
.image{
  border-radius: 5px;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.header__top{
  padding-top: 18px;
  display: flex;
  align-items: center;
}
.nav{
  display: flex;
  margin-left: auto;
}
.nav__element{
  margin-right: 40px;
}
li{
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.header__content{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subheading{
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 10px;
}
.subheading__buket{
  margin-top: 30px;
}
.text{
  text-align: center;
  line-height: 25px;
}
.text1{
  text-align: center;
  line-height: 25px;
  padding-bottom: 50px;
}
.nav__bottom{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.btn{
  margin-right: 40px;
  text-align: center;
  border: 1px solid #000;
  align-items: center;
  height: 50px;
  width: 250px
}
.btn__text{
  margin-top: 14px;
}
.footer{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
.footer__item{
  width: 35px;
  margin-left: 15px;
  height: 35px;
}
.footer__item1{
  margin-left: -30px;
  width: 35px;
  height: 35px;
}
.hamburger-menu{
  display: none;
}
@media (max-width: 1200px) {
  .container{
    max-width: 768px;
  }
  .image{
    width: 80%;
    height: 80%;
  }
  .menu__btn{
    display: block;
    margin-left: 600px;
  }
    .nav{
      display: none;
    }
  .hamburger-menu{
    display: block;
  }
















    #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;
    position: fixed; /* центрируем содержимое кнопки */
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 320px;
  }
  .image{
    width: 80%;
    height: 80%;
  }
  *{
        margin-left: 0px;
  }
  .menu__btn{
    display: block;
    margin-left: 300px;
  }
    .nav{
      display: none;
    }
  .hamburger-menu{
    display: block;
  }
















    #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
  .header__top{
    margin-left: 0px;
  }
  .header__content{
    margin-left: 0px;
  }
  .heading{
    margin-left: 0px;
  }
  .element{
    display: flex;
    flex-direction: column;
  }
  .image{
    margin-left: 0px;
  }
  .image-name{
    margin-left: 0px;
    margin-top: 10px;
  }
  .image-name1{
    margin-left: 0px;
  }
  .hide-text{
    margin-left: 0px;
  }
  .more{
    margin-left: 0px;
  }
  .nav__bottom{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .top{
    margin-top: 20px;
  }
}
